.body {
    min-height: 100vh;
    overflow-x: scroll;
    padding-top: 40px;
}

.add__list {
    position: fixed;
    width: 40%;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.add__list--input {
    height: 40px;
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 2px;
}

.add__list--input:focus {
    outline: none;
    border: 1px solid orangered;
    border-radius: 2px;
    transition: border .4s ease-in;
}

.add__list--btn {
    height: 40px;
    width: 80px;
    margin-left: 12px;
    background-color: rgb(197, 19, 19);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.add__list--btn:disabled {
    filter: brightness(0.8);
    cursor: not-allowed;
}

.content {
    display: inline-flex;
    margin-top: 80px;
}

.list {
    background-color: rgb(226, 224, 224);
    width: 300px;
    height: 100%;
    padding: 8px 16px;
    margin: 0 8px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
}

.list__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    padding: 10px 16px;
    margin: -4px -16px;
    position: relative;
    cursor: move;
}

.list__heading::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #999;
}

.list__heading i {
    font-size: 20px;
    padding: 0 8px;
    color: #777;
    cursor: pointer;
}