* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/688329a70c959f639082f895c831611a/photo-1627842468152-62f95538037a.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 40px);
}